.idea/*
.vscode/*
dist/*

__pycache__/*
venv/*
results/*
graph_attention_student/__pycache__/*
graph_attention_student/experiments/results/*
graph_attention_student/examples/results/*
tests/__pycache__/*
tests/artifacts/*
